@model POSSolution.Web.Models.Shop.ShopDetailViewModel;
@{
    ViewData["Title"] = "ShopDetailView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-home mr-1"></i>
        Thông Tin Cửa Hàng
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="small mb-1">Tên Quán</label>
                <input class="form-control" value="@Model.name" asp-for="@Model.name"/>
            </div>
            <div class="form-group">
                <label class="small mb-1">Địa Chỉ</label>
                <input class="form-control" value="@Model.address" asp-for="@Model.address"/>
            </div>
            <div class="form-group">
                <label class="small mb-1">Ghi Chú</label>
                <input class="form-control" value="@Model.note" asp-for="@Model.note"/> 
            </div>
            <div class="form-group">
                <label class="small mb-1" for="inputEmailAddress">Trạng Thái</label>
                @Html.DropDownListFor(model => model.status, new SelectList(Model.statusList, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="small mb-1" for="inputEmailAddress">Hình Ảnh</label>
                <div class="custom-file">
                    <input class="custom-file-input form-control" value="@Model.imageFile" asp-for="imageFile" id="file" name="file" />
                    <label class="custom-file-label">Đường Dẫn Hình Ảnh</label>
                </div>
            </div>
            <div class="d-flex align-items-center row form-group">
                <img src="@ViewData["FileLocation"]" class="col-12 col-md-10" height="600"/>
                <button id="uploadImage" asp-action="ImageUpload" asp-controller="Shop" class="col-12 col-md-2 btn btn-primary mt-2 mt-md-0">Tải Ảnh Lên</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mt-1" asp-action="InsertShop" asp-controller="Shop">Xác Nhận Lưu</button>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(fileName);
        });
    });
    @*$(document).ready(function () {
        $("#uploadImage").click(function () {
            var parameters = { @Model.imageFile };
            $.ajax({
                type: "POST",
                url: "@Url.Action("ImageUpload","Shop")",
                data: {file: parameters}
            });
        });
    });*@
</script>
